<!DOCTYPE html>
<html>
  <head>
    <title>Q Mapper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places'></script>
    <script type='text/javascript' src='/javascripts/require.js' data-main='/javascripts/main.js'></script>
  </head>
  <body>
    <h1>Q Mapper</h1>
    <input id='searchBox' class='controls' type='text' placeholder='search...' />
    <div id='gmap' />
  </body>
</html>
